.header {
    z-index: 10;
    background-color: #191919;
    height: fit-content;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: #fff;
    font-size: 1.6rem;
    line-height: normal;
    padding: 2.2rem 0;

    .container {
        position: relative;
    }

    @media (max-width: 48em) {
        font-size: 3.2rem;
        padding: 5.6rem 0 4rem;
    }

    &__top {
        display: flex;
        gap: 6rem;
        align-items: center;
        margin-bottom: 1.7rem;

        @media (max-width: 48em) {
            margin-bottom: 4.6rem;
            gap: unset;
            position: relative;
        }
    }

    &__bottom {
        display: flex;
        gap: 1rem;

        @media (max-width: 48em) {
            flex-direction: column-reverse;
            gap: 2rem;
        }

        .btn-primary {
            @media (max-width: 48em) {
                width: 100%;
                gap: 2rem;
                border-radius: 6rem;
                height: 9.6rem;
            }

            img {
                @media (max-width: 48em) {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }

            .btn-text {
                @media (max-width: 48em) {
                    font-size: 3.2rem;
                }
            }
        }
    }

    &__burger {
        padding-right: 6.8rem;

        img {
            height: 6rem;
            width: 4.8rem;
        }
    }

    &__burger-menu {
        display: none;
        background-color: #2b2b2b;
        padding: 5.2rem;
        border-radius: 3rem;
        position: absolute;
        top: calc(100% + 3.4rem);
        left: 0;
        right: 0;
        z-index: 3;
        padding-top: 18.6rem;

        &__tel {
            display: flex;
            align-items: center;
            gap: 1.4rem;
            margin-bottom: 4rem;

            .icon {
                width: 4.2rem;
                height: 4.2rem;

                img {
                    height: 100%;
                }
            }

            span {
                transition: color 0.2s;

                &:hover {
                    color: #bb6ef7;
                }
            }
        }
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 0.7rem;

        @media (max-width: 48em) {
            gap: 1.05rem;
        }

        .image {
            width: 5.6rem;
            height: 5.6rem;

            @media (max-width: 48em) {
                width: 8rem;
                height: 8rem;
            }

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        .text {
            font-weight: 600;
            width: 13.5rem;
            text-transform: uppercase;

            @media (max-width: 48em) {
                font-size: 2.4rem;
                width: 20.6rem;
            }
        }
    }

    &__menu {
        flex: 1;
        display: flex;
        justify-content: space-between;

        @media (max-width: 48em) {
            display: flex;
            flex-direction: column;
            gap: 5rem;
        }

        a {
            transition: color 0.2s;

            &:hover {
                color: #bb6ef7;
            }
        }
    }

    &__search {
        flex: 1;
        background-color: #fff;
        height: 5.4rem;
        border-radius: 3rem;
        padding: 1.5rem 1.8rem;
        display: flex;
        gap: 1.8rem;
        align-items: center;
        color: #191919;

        @media (max-width: 48em) {
            z-index: 4;
            height: 9.6rem;
            width: 100%;
            padding: 2.4rem 3.6rem;
            border-radius: 6rem;
            gap: 3.6rem;
            align-self: center;
            transition: transform 0.3s, width 0.3s;

            &.menu-opened {
                transform: translateY(4.6rem);
                width: 58.4rem;
            }
        }

        .icon {
            width: 2.4rem;
            height: 2.4rem;

            @media (max-width: 48em) {
                width: 4.8rem;
                height: 4.8rem;
            }

            img {
                height: 100%;
                object-fit: contain;
            }
        }

        input {
            flex: 1;

            &::-webkit-search-decoration,
            &::-webkit-search-cancel-button,
            &::-webkit-search-results-button,
            &::-webkit-search-results-decoration {
                -webkit-appearance: none;
            }
        }
    }

    &__contacts {
        background-color: rgba(83, 83, 83, 0.3);
        border-radius: 3rem;
        padding: 1.6rem 2.3rem;
        display: flex;
        gap: 2.4rem;

        @media (max-width: 48em) {
            margin-left: auto;
            border-radius: 6rem;
            padding: 2.4rem;
            gap: 3rem;
            flex-direction: row-reverse;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: 0.7rem;

            &:first-of-type {
                @media (max-width: 48em) {
                    .icon {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }

            .icon {
                width: 2.1rem;
                height: 2.1rem;

                @media (max-width: 48em) {
                    width: 3.6rem;
                    height: 3.6rem;
                }

                img {
                    height: 100%;
                    object-fit: contain;
                }
            }

            span {
                font-weight: 700;
                transition: color 0.2s;

                &.email {
                    text-decoration: underline;
                }

                &:hover {
                    color: #bb6ef7;
                }
            }
        }
    }

    &__target-list {
        position: absolute;
        z-index: 2;
        top: calc(100% + 2.2rem);
        left: 0;
        right: 0;
        padding: 3.1rem;
        border-radius: 3rem;
        background-color: #2b2b2b;
        display: none;

        &__item {
            & + & {
                margin-top: 2rem;

                @media (max-width: 48em) {
                    margin-top: 5rem;
                }
            }
        }

        @media (max-width: 48em) {
            top: calc(100% + 1.8rem);
            right: 3rem;
            left: 3rem;
            border-radius: 6rem;
            padding: 7.2rem 5.4rem;
        }

        a {
            transition: color 0.2s;

            &:hover {
                color: #bb6ef7;
            }
        }

        .btn-link {
            @media (max-width: 48em) {
                font-size: 3.2rem;
                gap: 1rem;

                svg {
                    width: 4.8rem;
                    height: 4.8rem;
                }
            }
        }
    }
}
