<a href="#!" class="card-main">
    <div class="card-main__img">
        <img src="./assets/images/home/card-main-1.png" alt="">
    </div>
    <div class="card-main__title">
        Льдогенератор чешуйчатого льда
    </div>
    <div class="card-main__model">
        ЛГ-620Ч-02
    </div>
    <div class="card-main__price">357 000 руб.</div>
    <div class="card-main__bottom">
        <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt=""></div>
        <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt=""></div>
    </div>
</a>