<section class="cards-list">
    <div class="container">
    <div class="cards-list__title">Товары выбранной категории</div>
    <div class="cards-list__cards">
        <a href="#!" class="card-main">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-1.png" alt="" />
            </div>
            <div class="card-main__title">Льдогенератор чешуйчатого льда</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-2.png" alt="" />
            </div>
            <div class="card-main__title">Пароконвектомат</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-3.png" alt="" />
            </div>
            <div class="card-main__title">Фритюрница газовая</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-2.png" alt="" />
            </div>
            <div class="card-main__title">Пароконвектомат</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main mobile">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-2.png" alt="" />
            </div>
            <div class="card-main__title">Льдогенератор чешуйчатого льда</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main mobile">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-3.png" alt="" />
            </div>
            <div class="card-main__title">Фритюрница газовая</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main hidden">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-2.png" alt="" />
            </div>
            <div class="card-main__title">Льдогенератор чешуйчатого льда</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main hidden">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-3.png" alt="" />
            </div>
            <div class="card-main__title">Фритюрница газовая</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main hidden">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-2.png" alt="" />
            </div>
            <div class="card-main__title">Льдогенератор чешуйчатого льда</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
        <a href="#!" class="card-main hidden">
            <div class="card-main__img">
                <img src="./assets/images/home/card-main-3.png" alt="" />
            </div>
            <div class="card-main__title">Фритюрница газовая</div>
            <div class="card-main__model">ЛГ-620Ч-02</div>
            <div class="card-main__price">357 000 руб.</div>
            <div class="card-main__bottom">
                <div class="card-main__coutnry"><img src="./assets/images/home/rus.png" alt="" /></div>
                <div class="card-main__brand"><img src="./assets/images/home/brand-1.png" alt="" /></div>
            </div>
        </a>
       
    </div>
    <div class="cards-list__btn">
        <button class="btn btn-primary desktop">
            <span class="btn-text">Смотреть все</span>
        </button>
        <button class="btn btn-primary btn-show-more mobile">
            <span class="btn-text">Показать еще</span>
        </button>
    </div>
</div>
</section>
