<section class="catalogue-subcategory">
    <div class="container">
        <div class="tabs-wrapper">
            <div class="catalogue-subcategory__tabs">
                <a href="#!" class="catalogue-subcategory__tab active"><span>Тепловое оборудование</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Холодильное</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Линии раздачи</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Для магазинов</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Посудомоечное</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Нейтральное</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Электромеханическое</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Для фастфуда</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Хлебопекарное</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Для залов</span></a>
                <a href="#!" class="catalogue-subcategory__tab"><span>Вспомогательное</span></a>
                <include src="./components/ui/btns/btn_link.html"></include>
            </div>
        </div>

        <div class="catalogue-subcategory__content">
            <div class="catalogue-subcategory__content__top">
                <div class="catalogue-subcategory__content__card-left">
                    <img src="./assets/images/catalogue/card-left.png" alt="" />
                </div>
                <div class="catalogue-subcategory__content__title">
                    <div class="title">Тепловое оборудование</div>
                    <div class="amount">18 наименований</div>
                </div>

                <div class="catalogue-subcategory__content__cards-top desktop">
                    <a href="#!" class="card-subcategory">
                        <div class="card-subcategory__img">
                            <img src="./assets/images/catalogue/card-subcategory-1.png" alt="" />
                        </div>
                        <div class="card-subcategory__title">Аппараты контактной обработки</div>
                        <div class="card-subcategory__link">
                            <div class="btn btn-link">
                                <span class="btn-link-text">Перейти</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                                </svg>
                            </div>
                        </div>
                    </a>
                    <a href="#!" class="card-subcategory">
                        <div class="card-subcategory__img">
                            <img src="./assets/images/catalogue/card-subcategory-2.png" alt="" />
                        </div>
                        <div class="card-subcategory__title">Водонагреватели</div>
                        <div class="card-subcategory__link">
                            <div class="btn btn-link">
                                <span class="btn-link-text">Перейти</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                                </svg>
                            </div>
                        </div>
                    </a>
                    <a href="#!" class="card-subcategory">
                        <div class="card-subcategory__img">
                            <img src="./assets/images/catalogue/card-subcategory-3.png" alt="" />
                        </div>
                        <div class="card-subcategory__title">Грили</div>
                        <div class="card-subcategory__link">
                            <div class="btn btn-link">
                                <span class="btn-link-text">Перейти</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                                </svg>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="catalogue-subcategory__content__cards">
                <a href="#!" class="card-subcategory mobile">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-1.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Аппараты контактной обработки</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory mobile">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-2.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Водонагреватели</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory mobile">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-3.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Грили</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-4.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Казаны</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-5.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Кипятильники</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-6.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Конвекционные печи</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-7.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Котлы</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-8.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Мармиты</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-9.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Пароконвектоматы</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-10.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Плиты</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-11.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Полки тепловые</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-12.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Электросковороды</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-13.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Шкафы жарочные</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-14.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Столы тепловые</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-15.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Тостеры</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-16.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Плиты</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Фритюрницы</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-17.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Шкафы тепловые</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
                <a href="#!" class="card-subcategory">
                    <div class="card-subcategory__img">
                        <img src="./assets/images/catalogue/card-subcategory-18.png" alt="" />
                    </div>
                    <div class="card-subcategory__title">Витрины тепловые</div>
                    <div class="card-subcategory__link">
                        <div class="btn btn-link">
                            <span class="btn-link-text">Перейти</span>
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z" fill="#BB6EF7" />
                            </svg>
                        </div>
                    </div>
                </a>
            </div>

            <div class="catalogue-subcategory__content__btn">
                <button class="btn btn-primary mobile">
                    <span class="btn-text">Показать еще</span>
                </button>
            </div>
        </div>
    </div>
</section>