<footer class="footer">
    <div class="container">
        <div class="footer__left">
            <div class="footer__logo">
                <div class="image">
                    <img src="./../assets/images/icons/logo.png" alt="Пищевое оборудование" />
                </div>
                <div class="text">Пищевое оборудование</div>
            </div>
            <ul class="footer__sections">
                <li><a href="#!">Компания</a></li>
                <li><a href="#!">Портфолио</a></li>
                <li><a href="#!">Проектирование</a></li>
                <li><a href="#!">Презентация</a></li>
                <li><a href="#!">Застройщикам</a></li>
                <li><a href="#!">Гос.заказчикам</a></li>
                <li><a href="#!">Таблет-питание</a></li>
                <li><a href="#!">Сервис</a></li>
                <li><a href="#!">Контакты</a></li>
            </ul>
        </div>
        <div class="footer__middle">
            <div class="footer__middle__item">
                <span><a href="#!">Оборудование</a></span>
                <ul class="desktop">
                    <li><a href="#!">Тепловое</a></li>
                    <li><a href="#!">Холодильное</a></li>
                    <li><a href="#!">Электромеханическое</a></li>
                    <li><a href="#!">Посудомоечное</a></li>
                    <li><a href="#!">Линии раздачи</a></li>
                    <li><a href="#!">Нейтральное</a></li>
                    <li><a href="#!">Для фаст фуда</a></li>
                    <li><a href="#!">Для залов</a></li>
                    <li><a href="#!">Вспомагательное</a></li>
                    <li><a href="#!">Для магазинов</a></li>

                </ul>
            </div>
            <div class="footer__middle__item">
                <span><a href="#!">Целевые</a></span>
                <ul class="desktop">
                    <li><a href="#!">Детским садам и школам</a></li>
                    <li><a href="#!">Для кондитерских</a></li>
                    <li><a href="#!">Для пиццерий</a></li>
                    <li><a href="#!">Для магазинов</a></li>
                    <li><a href="#!">Для буфетов</a></li>
                    <li><a href="#!">Для пищеблоков</a></li>
                    <li><a href="#!">Для кафе</a></li>
                    <li><a href="#!">Для горячих цехов</a></li>
                    <li><a href="#!">Все</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__right">
            <span>Звонок абсолютно беспланый</span>
            <div class="footer__contacts">
                <div class="tel">
                    <div class="icon">
                    <img src="./../assets/images/icons/tel-black.svg" alt="">
                </div>
                    <a href="#!">8 800 333-88-31</a>
                </div>
                <div class="tel">
                    <div class="icon">
                    <img src="./../assets/images/icons/tel-black.svg" alt="">
                </div>
                    <a href="#!">8 495 790-72-05</a>
                </div>
                <div class="email">
                    <div class="icon">
                    <img src="./../assets/images/icons/mail-black.svg" alt="">
                </div>
                    <a href="#!">e-mail@gmail.ru</a>
                </div>
            </div>
            <span>Пн-Пт 09:00 до 18:00</span>
            <span class="address">109428, Москва, Большая Семеновская 43с2</span>
        </div>
    </div>
</footer>
