<header class="header">
    <div class="container">
        <div class="header__top">
            <button class="header__burger mobile">
                <img src="./../assets/images/icons/burger.svg" alt="">
            </button>
            <div class="header__burger-menu dropdown mobile">
                <a href="#!" class="header__burger-menu__tel">
                    <div class="icon">
                        <img src="./../assets/images/icons/tel.svg" alt="Телефон" />
                    </div>
                    <span>8 800 333-88-31</span>
                </a>
                <nav class="header__menu">
                    <a href="#!">Компания</a>
                    <a href="#!">Портфолио</a>
                    <a href="#!">Проектирование</a>
                    <a href="#!">Презентация</a>
                    <a href="#!">Застройщикам</a>
                    <a href="#!">Гос.заказчикам</a>
                    <a href="#!">Таблет-питание</a>
                    <a href="#!">Сервис</a>
                    <a href="#!">Контакты</a>
                </nav>
            </div>
            <div class="header__logo">
                <div class="image">
                    <img src="./../assets/images/icons/logo.png" alt="Пищевое оборудование" />
                </div>
                <div class="text">Пищевое оборудование</div>
            </div>
            <nav class="header__menu desktop">
                <a href="#!">Компания</a>
                <a href="#!">Портфолио</a>
                <a href="#!">Проектирование</a>
                <a href="#!">Презентация</a>
                <a href="#!">Застройщикам</a>
                <a href="#!">Гос.заказчикам</a>
                <a href="#!">Таблет-питание</a>
                <a href="#!">Сервис</a>
                <a href="#!">Контакты</a>
            </nav>
            <div class="header__contacts mobile">
                <a href="#!" class="header__contacts__item">
                    <div class="icon">
                        <img src="./../assets/images/icons/mail.svg" alt="Почта" />
                    </div>
                    
                </a>

                <a href="#!" class="header__contacts__item">
                    <div class="icon">
                        <img src="./../assets/images/icons/tel.svg" alt="Телефон" />
                    </div>
                </a>
            </div>
        </div>
        <div class="header__bottom">
            <include src="./components/ui/btns/btn_primary_icon.html"></include>

            <div class="header__search">
                <div class="icon"><img src="./../assets/images/icons/search.svg" alt="Поиск" /></div>
                <input type="search" />
            </div>

            <div class="header__contacts desktop">
                <a href="#!" class="header__contacts__item">
                    <div class="icon">
                        <img src="./../assets/images/icons/mail.svg" alt="Почта" />
                    </div>
                    <span class="email">e-mail@gmail.ru</span>
                </a>

                <a href="#!" class="header__contacts__item">
                    <div class="icon">
                        <img src="./../assets/images/icons/tel.svg" alt="Телефон" />
                    </div>
                    <span>8 800 333-88-31</span>
                </a>
            </div>
        </div>

        <div class="header__target-list dropdown">
            <div class="header__target-list__item"><a href="#!">Государственным заказчикам</a></div>
            <div class="header__target-list__item"><a href="#!">Кафе, барам, ресторанам</a></div>
            <div class="header__target-list__item"><a href="#!">Детским садам и школам</a></div>
            <div class="header__target-list__item"><a href="#!">Таблет-питание для больниц</a></div>
            <div class="header__target-list__item"><a href="#!">Оборудование для кондитерских</a></div>
            <div class="header__target-list__item"><a href="#!">Оборудование для пиццерии</a></div>
            <div class="header__target-list__item"><a href="#!">Для малого бизнеса</a></div>
            <div class="header__target-list__item"><a href="#!">Оборудование для мини кафе</a></div>
            <div class="header__target-list__item">
                <a href="#!" class="btn btn-link">
                <span class="btn-link-text">Все предложения</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                >
                  <path
                    d="M6.00009 17.1L16.0801 7L6.78809 7V6L17.7881 6V17H16.7881V7.707L6.68809 17.788L6.00009 17.1Z"
                    fill="#BB6EF7"
                  />
                </svg>
              </a>
            </div>
        </div>
    </div>
</header> 

<div class="backdrop"></div>