<div class="modal modal-review">
    <div class="modal-back"></div>
    <div class="modal-wrapper">
        <div class="modal-exit">
            <img src="../assets/images/icons/close.svg" alt="" />
        </div>
        <div class="modal-content">
            <div class="modal__title">Ваш отзыв важен для нас</div>
            <form class="modal__form">
                <input type="text" class="input" placeholder="Имя" />
                <input type="text" class="input" placeholder="E-mail" />
                <textarea class="textarea" placeholder="Ваше мнение"></textarea> 
                <div class="modal__btn">
                    <button class="btn btn-primary" data-modal="success">
                        <span class="btn-text">Отправить</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal modal-success">
  <div class="modal-back"></div>
  <div class="modal-wrapper modal-wrapper--sm">
      <div class="modal-exit">
          <img src="../assets/images/icons/close.svg" alt="" />
      </div>
      <div class="modal-content">
        <div class="modal__done-img">
          <img src="./../assets/images/icons/done.svg" alt="">
        </div>
          <div class="modal__title">Отзыв успешно отправлен!</div>
      </div>
  </div>
</div>

<!-- <div class="modal modal-question">
  <div class="modal-back"></div>
  <div class="modal-wrapper">
      <div class="modal-exit">
          <img src="../assets/images/icons/close.svg" alt="" />
      </div>
      <div class="modal-content">
          <div class="modal__title">Задайте вопрос</div>
          <form class="modal__form">
              <input type="text" class="input" placeholder="Имя" />
              <input type="text" class="input" placeholder="E-mail" />
              <textarea class="textarea" placeholder="Ваш вопрос"></textarea> 
              <div class="modal__btn">
                  <button class="btn btn-primary">
                      <span class="btn-text">Отправить</span>
                  </button>
              </div>
          </form>
      </div>
  </div>
</div> -->
