<section class="portfolio">
  <div class="container">
    <p class="portfolio__title title-m">Портфолио</p>
    <div class="portfolio__content">
      <div class="portfolio__swiper swiper">
        <div class="swiper-wrapper">
          <div class="portfolio__card swiper-slide">
            <div class="portfolio__card-img">
              <img src="./assets/images/komplexnoe/portfolio1.png" alt="">
            </div>
            <div class="portfolio__card-bottom">
              <div class="portfolio__card-title text">Комбинат студенческого питания, мебель для зала</div>
              <include src="./components/ui/btns/btn_link_show.html"></include>
            </div>
            <div class="portfolio__card-date text-sm">01.12.2023</div>
          </div>
          <div class="portfolio__card swiper-slide">
            <div class="portfolio__card-img">
              <img src="./assets/images/komplexnoe/portfolio2.png" alt="">
            </div>
            <div class="portfolio__card-bottom">
              <div class="portfolio__card-title text">Мини-кафе “Вилия”</div>
              <include src="./components/ui/btns/btn_link_show.html"></include>
            </div>
            <div class="portfolio__card-date text-sm">13.11.2023</div>
          </div>
          <div class="portfolio__card swiper-slide">
            <div class="portfolio__card-img">
              <img src="./assets/images/komplexnoe/portfolio2.png" alt="">
            </div>
            <div class="portfolio__card-bottom">
              <div class="portfolio__card-title text">Мини-кафе “Вилия”</div>
              <include src="./components/ui/btns/btn_link_show.html"></include>
            </div>
            <div class="portfolio__card-date text-sm">03.11.2023</div>
          </div>
          <div class="portfolio__card swiper-slide">
            <div class="portfolio__card-img">
              <img src="./assets/images/komplexnoe/portfolio1.png" alt="">
            </div>
            <div class="portfolio__card-bottom">
              <div class="portfolio__card-title text">Пищеблок дошкольного образовательного учреждения”</div>
              <include src="./components/ui/btns/btn_link_show.html"></include>
            </div>
            <div class="portfolio__card-date text-sm">28.11.2023</div>
          </div>
        </div>
      </div>
      <div class="portfolio__center">
        <p class="portfolio__text text-sm">
          Купить технологическое оборудование для пищеблоков детских садов в Москве, которое соответствовало 
          бы высшим стандартам качества, теперь становится предельно легко: в нашем каталоге мы постарались 
          собрать все необходимые комплектующие для оснащения профессиональной кухни
        </p>
        <button class="btn btn-primary">
          <span class="btn-text">Все проекты</span>
        </button>
        <div class="portfolio__thumbs swiper">
          <div class="swiper-wrapper">
            <div class="portfolio__slide swiper-slide">
              <div class="portfolio__slide-img">
                <img src="./assets/images/komplexnoe/portfolio1.png" alt="">
              </div>
              <div class="portfolio__slide-desc">
                <p class="portfolio__slide-title text">Пищеблок дошкольного образовательного учреждения</p>
                <p class="portfolio__slide-date text-sm">28.11.2023</p>
                <include src="./components/ui/btns/btn_link_show.html"></include>
              </div>
            </div>
            <div class="portfolio__slide swiper-slide">
              <div class="portfolio__slide-img">
                <img src="./assets/images/komplexnoe/portfolio2.png" alt="">
              </div>
              <div class="portfolio__slide-desc">
                <p class="portfolio__slide-title text">Мини-кафе “Вилия”</p>
                <p class="portfolio__slide-date text-sm">13.11.2023</p>
                <include src="./components/ui/btns/btn_link_show.html"></include>
              </div>
            </div>
            <div class="portfolio__slide swiper-slide">
              <div class="portfolio__slide-img">
                <img src="./assets/images/komplexnoe/portfolio2.png" alt="">
              </div>
              <div class="portfolio__slide-desc">
                <p class="portfolio__slide-title text">Мини-кафе “Вилия”</p>
                <p class="portfolio__slide-date text-sm">03.11.2023</p>
                <include src="./components/ui/btns/btn_link_show.html"></include>
              </div>
            </div>
            <div class="portfolio__slide swiper-slide">
              <div class="portfolio__slide-img">
                <img src="./assets/images/komplexnoe/portfolio1.png" alt="">
              </div>
              <div class="portfolio__slide-desc">
                <p class="portfolio__slide-title text">Комбинат студенческого питания, мебель для зала</p>
                <p class="portfolio__slide-date text-sm">28.11.2023</p>
                <include src="./components/ui/btns/btn_link_show.html"></include>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="portfolio__controls controls vertical">
        <div class="controls__navigation">
          <button class="btn btn-arrow portfolio__btn-prev">
            <svg
              width="26"
              height="26"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1667 7.58332L9.75 13L15.1667 18.4167"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button class="btn btn-arrow next portfolio__btn-next">
            <svg
              width="26"
              height="26"
              viewBox="0 0 26 26"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1667 7.58332L9.75 13L15.1667 18.4167"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
        <div class="portfolio__swiper-scrollbar scrollbar"></div>
      </div>
    </div>
  </div>
</section>