<section class="clients">
    <div class="container">
        <div class="clients__title">Наши клиенты</div>
        <div class="clients__cards">
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-1.png" alt="">
                </div>
                <div class="clients__card__title">Министрество обороны Российской Федерации</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-2.png" alt="">
                </div>
                <div class="clients__card__title">Министрество внутренних дел Российской Федерации</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-3.png" alt="">
                </div>
                <div class="clients__card__title">Департамент здравоохранения города Москвы</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-4.png" alt="">
                </div>
                <div class="clients__card__title">Верховный Суд Российской Федерации</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-5.png" alt="">
                </div>
                <div class="clients__card__title">Департамент строительства города Москвы</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-6.png" alt="">
                </div>
                <div class="clients__card__title">Главное управление обустройство войск</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-7.png" alt="">
                </div>
                <div class="clients__card__title">Росатом</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-8.png" alt="">
                </div>
                <div class="clients__card__title">ПАО”РусГидро”</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-9.png" alt="">
                </div>
                <div class="clients__card__title">Московский физико-технический институт</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-10.png" alt="">
                </div>
                <div class="clients__card__title">Российские 
                    железные дороги</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-11.png" alt="">
                </div>
                <div class="clients__card__title">Воздушно-десантное училище имени Н.Ф. Маргелова</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-12.png" alt="">
                </div>
                <div class="clients__card__title">ЛСР группа</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-1.png" alt="">
                </div>
                <div class="clients__card__title">Министрество обороны Российской Федерации</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-2.png" alt="">
                </div>
                <div class="clients__card__title">Министрество внутренних дел Российской Федерации</div>
            </div>
            <div class="clients__card">
                <div class="clients__card__img">
                    <img src="./assets/images/clients/clients-3.png" alt="">
                </div>
                <div class="clients__card__title">Департамент здравоохранения города Москвы</div>
            </div>
        </div>
        <div class="clients__btn">
            <button class="btn btn-primary">
                <span class="btn-text">Показать еще</span>
              </button>
        </div>
    </div>
</section>