<section class="structure">
  <div class="container structure__inner">
    <div class="structure__desc">
      <p class="structure__title title-m">Что входит в рабочий проект</p>
      <ul class="structure__list">
        <li class="text-sm"><span class="list-circle"></span>
          Оптимизация
        </li>
        <li class="text-sm"><span class="list-circle"></span>
          Решение нестандартных задач
        </li>
        <li class="text-sm"><span class="list-circle"></span>
          Обеспечение беспроблемного ввода в эксплуатацию
        </li>
        <li class="text-sm"><span class="list-circle"></span>
          Гарантийное, сервисное обслуживание и ремонт
        </li>
        <li class="text-sm"><span class="list-circle"></span>
          Поставка в любую точку России и СНГ
        </li>
      </ul>
      <button class="btn btn-primary sroll-form">
        <span class="btn-text">Заполнить анкету</span>
      </button>
    </div>
    <div class="structure__swiper swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide structure__slide">
          <img src="./assets/images/komplexnoe/structure1.png" alt="">
        </div>
        <div class="swiper-slide structure__slide">
          <img src="./assets/images/komplexnoe/structure2.png" alt="">
        </div>
        <div class="structure__slide swiper-slide">
          <img src="./assets/images/komplexnoe/structure1.png" alt="">
        </div>
        <div class="structure__slide swiper-slide">
          <img src="./assets/images/komplexnoe/structure2.png" alt="">
        </div>
        <div class="structure__slide swiper-slide">
          <img src="./assets/images/komplexnoe/structure1.png" alt="">
        </div>
        <div class="structure__slide swiper-slide">
          <img src="./assets/images/komplexnoe/structure2.png" alt="">
        </div>
      </div>
    </div>
    <div class="structure__controls controls">
      <div class="controls__navigation">
        <button class="btn btn-arrow structure__btn-prev">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.1667 7.58332L9.75 13L15.1667 18.4167"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        
        <button class="btn btn-arrow next structure__btn-next">
          <svg
            width="26"
            height="26"
            viewBox="0 0 26 26"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.1667 7.58332L9.75 13L15.1667 18.4167"
              stroke="white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
      </div>
      <div class="structure__swiper-scrollbar scrollbar"></div>
    </div>
  </div>
</section>